

body{
    background-color: #eee;
    padding-top: 20px;
    font-family: Courier New, Courier, monospace;
    color: white;
    background: url("../images/maxresdefault.jpg") no-repeat;
    background-size: cover;
}

.container{
    text-align: center;
}
 
.game-column {
    padding-top: 40px;
    border: 3px dashed rgba(91, 51, 2, 0.6);
    text-align: center;
    margin-top: 20px;
    min-height: 500px;
    background-color: rgba(34, 32, 32, 0.194);
}

#main-image,#animal-image{ 
    display: block;
    margin: 0 auto;
}

#animal-image{ 
    display: none;
    align-content: center;
    margin-top: 20PX;
    
}


h1,h2,p{
   
    background-color: rgba(91, 51, 2, 0.6);
}

h2,p{
    border-radius: 10px;
    font-size: 25px;
}

h1{
    border-radius: 10px;
}

#word0,#word1,#word2,#word3,#word4,#word5,#word6,#word7,#word8{
    font-size: 25px;
    font-display: bolder;
    
}

